@charset "UTF-8";

/* Title */
h1 {
  font-size: 4rem;
  margin: 0.5em 0;
  text-align: center;
}

/* Main Subject Information */
.subjectInformationArea {
  text-align: center;
  font-size: 2.5rem;
}

.subjectNameLabel {
  margin-left: 0.8em;
}

/* Table */
.subjectTable {
  margin: 2rem auto;
}

.subjectTable th {
  font-size: 2rem;
  padding: 0.5em 0;
}

.subjectTable td {
  font-size: 2rem;
  height: 2.5em;
  vertical-align: middle;
}

.subjectTable td input {
  font-size: 1.6rem;
  height: 2em;
  border-radius: .4em;
}

.rowHide,
.cellHide {
  display: none;
}

.state {
  border: none;
  text-align: center;
  font-size: 1.6rem;
  width: 3.2em;
}

.code,
.name {
  font-size: 1.6rem;
  width: 13.2em;
}

.set,
.delete {
  font-size: 1.6rem;
  height: 2em;
  border-radius: .4em;
  width: 7.5em;
}

.stateNew {
  background: lightpink;
}

.stateChange {
  background: lightblue;
}

.stateDelete {
  background: lightgray;
}

.stateError {
  background: khaki;
  color: red;
}

.errorWord {
  font-size: 1rem;
  font-weight: bold;
  color: red;
}

/* Add Button / Sign Up Button */
.controlArea {
  text-align: center;
}

.addButton,
.signUpButton {
  font-size: 1.8rem;
  width: 11.2em;
  height: 2.3em;
  border-radius: .28em;
  margin: 0 1.4em;
}

/* Close Button */
.closeArea {
  font-size: 2rem;
  text-align: center;
  margin: 2em 0;
}

.closeButton {
  font-size: 1.6rem;
  width: 28.2em;
  height: 2em;
  border-radius: .4em;
}