@charset "UTF-8";

/* Title */
h1 {
  font-size: 4rem;
  margin: 0.5em 0;
  text-align: center;
}

/* Main Subject Information */
.subjectInformationArea {
  text-align: center;
  font-size: 2.5rem;
}

.subjectNameLabel {
  margin-left: 2rem;
}

/* Table */
.subjectTable {
  margin: 2rem auto;
}

.subjectTable th {
  font-size: 2rem;
  padding: 0.5em 0;
}

.subjectTable td {
  height: 5rem;
  vertical-align: middle;
}

.subjectTable td input {
  font-size: 1.6rem;
  height: 3rem;
  border-radius: .3rem;
}

.set,
.delete {
  font-size: 1.6rem;
  height: 3rem;
  border-radius: .5rem;
}

.rowHide,
.cellHide {
  display: none;
}

.state {
  border: none;
  text-align: center;
  width: 5rem;
}

.code,
.name {
  width: 21rem;
}

.set,
.delete {
  width: 12rem;
}

.stateNew {
  background: lightpink;
}

.stateChange {
  background: lightblue;
}

.stateDelete {
  background: lightgray;
}

.stateError {
  background: khaki;
  color: red;
}

.errorWord {
  font-size: 1rem;
  font-weight: bold;
  color: red;
}

/* Add / Sign Up Button */
.controlArea {
  text-align: center;
}

.addButton,
.signUpButton {
  width: 20rem;
  height: 4rem;
  font-size: 1.8rem;
  border-radius: .5rem;
}

.addButton {
  margin-right: 5rem;
}

.signUpButton {
  margin-left: 5rem;
}

/* Close Button */
.closeArea {
  text-align: center;
  margin: 4rem 0;
}

.closeButton {
  width: 50rem;
  height: 3rem;
  font-size: 1.6rem;
  border-radius: .5rem;
}